h1{
    color: tomato;
}

img{
    width: 400px;
}

#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: black;
    padding: 50px;
    border: 6px dashed blueviolet;
}
#spanId{
    font-size: 20px ;
    margin: 50px ;
    background-color: tomato ;
}
